
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.nav ul {
    display: flex;
    background-color: rgb(240, 239, 239);
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav li {
    float: left;
}
li a {
    text-decoration: none;
    display: block;
    color: black;
    /* background-color: darkblue; */
    padding: 10px 20px;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;

}
.section {
    display: flex;
    /* background-color: rgba(211, 211, 211, 0.5); */
    background-color: rgb(240, 239, 239);
    height:20rem;
    justify-content: center;
    align-items: flex-end;
    /* letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase; */
    text-align: center;
}
.section-font {
    letter-spacing: 5px;
    word-spacing: 5px;
    text-transform: uppercase;
}
.footer {
    /* display: flex;
    background-color: rgb(194, 212, 221);
    height: 24rem; */

    display: flex;
    background-color: rgb(194, 212, 221);
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    flex-flow:column;
    height: 24rem;
    color: white;
}
/* .container {
    display:flex;
    background-color: lightgrey;
} */

@media screen and (max-width: 650px) {
    .nav ul {
        flex-flow: column;
        align-items: center;

    }
}